{% extends "base.html.twig" %}

{% block title %}An Error Occurred: {{ status_text }}{% endblock %}
{% block body_fix %} class="error_page"{% endblock %}
{% block content %}
    <div class="row">
    	<div class="text-center col">
            <h1>{% block error_header %}Oops! An Error Occurred{% endblock %}</h1>
            <p>{% block error_message %}The server returned a "{{ status_code }} {{ status_text }}".{% endblock %}</p>
        </div>
    </div>
{% endblock %}
