# gitignore file for GeniBase Core

# Configuration files with possibly sensitive information
gb-config.php
gb-tests-config.php
.htaccess

# Files and folders related to build/test tools
/phpunit.xml
/tests/phpunit/data/.trac-ticket-cache*
/tests/qunit/compiled.html
/src/.gb-tests-version
/npm-debug.log
/build
/tests/phpunit/build

# Ignore other .gitignore files to allow for personal customizations
.gitignore



#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
