@charset "UTF-8";

@import "dashboard.css";

.error_page    {
    background: #222;
    color: #FFF;
}

.error_page .row    {
    min-height: 100vh;
}

.error_page .row .col    {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.confidence .high   {
	color: green;
}

.confidence .medium   {
	color: #CC0;
}

.confidence .low   {
	color: red;
}

.component-refs {
            columns: 16rem auto;
	   -moz-columns: 16rem auto;
	-webkit-columns: 16rem auto;
}

.place-map  {
	width: 100%;
	height: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.place-short-info   {
	font-size: smaller;
    opacity: 0.5;
}

.place-type-icon    {
    opacity: 0.5;
}

.place-type-icon.fa-sitemap    {
	color: darkred;
}

.place-type-icon.fa-home    {
    color: darkgreen;
}

.hidden-text,
.hidden-text *    {
	color: transparent !important;
}

.description .table {
	width: auto;
}
