
.error_page    {
    background: #222;
    color: #FFF;
}

.error_page .row    {
    min-height: 100vh;
}

.error_page .row .col    {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.confidence .high   {
	color: green;
}

.confidence .medium   {
	color: brown;
}

.confidence .low   {
	color: red;
}

.component-refs {
            columns: 12rem auto;
	   -moz-columns: 12rem auto;
	-webkit-columns: 12rem auto;
}
