@CHARSET "UTF-8";

// Colors
$color-background:	#F1F1F1;
$color-page:		#FFF;
//
$color-password-strength-bad:			#FFB78C;
$color-password-strength-bad-border:	#FF853C;
$color-password-strength-good:			#FFEC8B;
$color-password-strength-good-border:	#FFCC00;
$color-password-strength-short:			#FFA0A0;
$color-password-strength-short-border:	#F04040;
$color-password-strength-strong:		#C3FF88;
$color-password-strength-strong-border:	#8DFF1C;

// Fonts
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
