/*! responsive-forms.css v1.0.0 | github.com/Limych/GeniBase */

.responsive-form,
.responsive-form * {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.responsive-form div.fieldset {
	border: 0;
	padding: 0;
	margin: 0 0 0.5em 0;
}
.responsive-form div.fieldset div.field {
	margin: 0 0 0.25em 0;
}
.responsive-form div.field {
	margin: 0 0 0.75em 0;
}
.responsive-form div.field > label	{
	width: 100%;
	float: none;
	margin: 0 0 0.25em 0;
}
.responsive-form div.field > div {
	width: 100%;
	float: none;
}
.responsive-form div.fieldset > div > label {
	font-size: 90%;
}
.responsive-form input[type=checkbox],
.responsive-form input[type=radio]	{
	vertical-align: middle;
}
.responsive-form input[type=text],
.responsive-form input[type=email],
.responsive-form input[type=url],
.responsive-form input[type=password],
.responsive-form input[type=number],
.responsive-form textarea,
.responsive-form select	{
	width: 100%;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
}
.responsive-form input[type=text]:focus,
.responsive-form input[type=email]:focus,
.responsive-form input[type=url]:focus,
.responsive-form input[type=password]:focus,
.responsive-form input[type=number]:focus,
.responsive-form textarea:focus {
	outline: 0;
	border-color: #4697E4;
}
.responsive-form input[readonly]	{
	background: #EEE;
}
.responsive-form input[type=number]	{
	text-align: right;
}
.responsive-form div.buttons	{
	margin: 0.5em 0 1em;
	text-align: right;
}
.responsive-form div.buttons > button	{
	display: inline-block;
	margin-left: 1em;
}



/*** Media Queries ****************************************************************/

/* Tablet screen */
@media (min-width: 30em)	{
}/**/

/* Narrow PC screen */
@media print, (min-width: 42em)	{
	.responsive-form div.fields	{
		display: table;
		margin: 0 auto;
	}
	.responsive-form div.fieldset,
	.responsive-form div.field	{
		display: table-row;
	}
	.responsive-form div.fieldset > label,
	.responsive-form div.field > label,
	.responsive-form div.fieldset > div,
	.responsive-form div.field > div	{
		display: table-cell;
		width: auto;
		vertical-align: top;
		padding: 0 0 0.5em 0;
	}
	.responsive-form div.fieldset > label,
	.responsive-form div.field > label	{
		text-align: right;
		padding-right: 0.5em;
	}
	.responsive-form div.fieldset div.field	{
		display: block;
	}
	.responsive-form div.fieldset div.field > label	{
		display: initial;
	}
}/**/

/* Normal PC screen */
@media (min-width: 62em)	{
}/**/
