<?php
/**
 * GeniBase — the content management system for genealogical websites.
 *
 * @package GeniBase
 * @author Andrey Khrolenok <andrey@khrolenok.ru>
 * @copyright Copyright (C) 2014-2017 Andrey Khrolenok
 * @license GNU Affero General Public License v3 <http://www.gnu.org/licenses/agpl-3.0.txt>
 * @link https://github.com/Limych/GeniBase
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see http://www.gnu.org/licenses/agpl-3.0.txt.
 */

// configure your app for the production environment

// === Logging ================================================================

$app['monolog.name']    = 'GeniBase';
$app['monolog.logfile'] = BASE_DIR.'/var/logs/' . \Carbon\Carbon::now()->format('Y-m-d') . '.log';

// === Caching ================================================================

$app['http_cache.cache_dir']    = BASE_DIR.'/tmp/cache/http';

// === Twig ===================================================================

$app['twig.path'] = array(
	BASE_DIR.'/app/views'
);
$app['twig.options'] = array(
	'cache' => BASE_DIR.'/tmp/cache/twig'
);

// === REST API ===============================================================

$app['api.endpoint'] = "/api";
$app['api.version'] = "v1";

// === DataBase ===============================================================

$app['db.options'] = array(
    "driver"    => "pdo_mysql",
    "host"      => "localhost",
    "user"      => "genibase",
    "password"  => "genibase",
    "dbname"    => "genibase",
    "prefix"    => "gb_",
);

// === Translator =============================================================

$app['translator.resource'] = BASE_DIR . '/app/lang/';

// === Importer configs =======================================================

$app['svrt.1914.store'] = BASE_DIR.'/var/store';

// === API keys ===============================================================

$app['svrt.1914.token'] = '';
$app['google_api.key'] = ''; // Optional
$app['google_api.secret'] = ''; // Optional
