{% extends "layout.html.twig" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="card my-3 form-signin">
        <h2 class="card-header form-signin-heading">Войдите в систему</h2>
        <div class="card-body">
            {% if last_error %}
                <p>{{ last_error }}</p>
            {% endif %}
            {% include 'dashboard/block_login.html.twig' %}
        </div>
    </div>
{% endblock %}