<?php

// Configure your GeniBase for the production environment

// === DataBase ===============================================================

$app['db.options'] = array(
    'driver'    => 'pdo_mysql',
    'host'      => 'localhost',
    'user'      => '*** your MySQL username here ***',
    'password'  => '*** your MySQL password here ***',
    'dbname'    => '*** your MySQL database name here ***',
    'charset'   => 'utf8',
    'prefix'    => 'gb_',
    'driverOptions' => array(
        1002 => 'SET NAMES utf8'
    ),
);

// === API keys ===============================================================

$app['api_key.svrt_1914'] = '*** your API key here ***';

$app['api_key.google'] = '*** your API key here ***';
$app['api_key.google.secret'] = '*** your API key here ***';

$app['api_key.facebook'] = '*** your API key here ***';
$app['api_key.facebook.secret'] = '*** your API key here ***';







// Below this line is configs you may not want to change

// === Logging ================================================================

$app['monolog.name']    = 'GeniBase';

$app['monolog.logfile'] = "${root_dir}/var/logs/" .
    \Carbon\Carbon::now()->format('Y-m-d') . '.log';
$app['monolog.logfile.expired'] = "${root_dir}/var/logs/" .
    \Carbon\Carbon::now()->subWeeks(7)->format('Y-m-d') . '.log';

$app['monolog.level']   = \Monolog\Logger::ERROR;

// === Rate Limiting ==========================================================

$app['rate_limiter.cache_dir'] = "${root_dir}/tmp/cache/rate";
$app['rate_limiter.whitelist_dir'] = "${root_dir}/var/ip_whitelists";

// === Caching ================================================================

$app['http_cache.cache_dir'] = "${root_dir}/tmp/cache/http";

// === Twig ===================================================================

$app['twig.path'] = array(
    "${root_dir}/src/_views"
);
$app['twig.options'] = array(
    'cache' => "${root_dir}/tmp/cache/twig"
);

// === Sessions ===============================================================

$app['session.storage.save_path'] = "${root_dir}/tmp/sessions";

// === Translator =============================================================

$app['translator.resource'] = "${root_dir}/app/lang/";

// === Importer configs =======================================================

$app['svrt.1914.store'] = "${root_dir}/var/store";
$app['places.store'] = "${root_dir}/var/store";
