body	{
	font-family: sans-serif;
	padding: 1em 1.5em;
}
header	{
	display: table;
	margin: 0 auto;
}
header > div	{
	display: table-cell;
	vertical-align: middle;
	padding: 0 1em;
	text-align: center;
}
header .logo img	{
	width: 100%;
}
header .title h1	{
	margin: 0;
	font-size: 1.5em;
}
/* Narrow PC screen */
@media print, (min-width: 42em)	{
	header .title h1	{
		font-size: 2em;
	}
}/**/
footer	{
	clear: both;
}
h1	{
	margin: 0 3em;
	text-align: center;
}
a	{
	text-decoration: none;
}
a:hover	{
	text-decoration: underline;
}
li	{
	margin-top: 0.75em;
}

form	{
	max-width: 45em;
	margin: 1em auto;
	background-color: #FFE9BF;
	padding: 1em 2em;
}
form.editor	{
	max-width: none;
}

form h2	{
	margin: 0 0 1em;
	text-align: center;
	font-size: 120%;
}
form h3	{
	margin: 0 0 1em;
	text-align: center;
	font-size: 40%;
	font-style: italic;
	font-color: #FFF;
	font-weight: normal;
}
form p	{
	text-align: justify;
}
form .trouble	{
	background: #F60;
}
form .modifyed	{
	background: #CFC;
}



.h	{
	display: none;
}
.nb	{
	font-size: 85%;
	font-style: italic;
}
.align-center	{
	text-align: center;
}
.align-right	{
	text-align: right;
}
.small	{
	font-size: smaller;
}
.crue strong	{
	display: block;
}
.crue .name	{
	display: inline-block;
	width: 12em;
}
.lastq	{
	font-size: 85%;
}
.notfound	{
	max-width: 40em;
	margin: 0 auto 7em;
}
.copyright	{
	clear: both;
	margin-top: 3em;
	font-size: 85%;
	text-align: center;
	font-style: italic;
}



table	{
	border-spacing: 0;
}
table caption	{
	margin-bottom: 0.5em;
}
table td	{
	padding: 0.25em 1em;
}
thead	{
	font-weight: bold;
}
table.stat	{
	border: 1px solid #CCC;
}
table.report	{
	margin: 1em auto;
}
table.stat	{
	float: left;
	margin: 1em;
	max-width: 45%;
}
th	{
	background-color: #FFA500;
	padding: 0.25em 1em;
}
tr.odd	{
	background-color: #F9F9F9;
}
tr.even	{
	background-color: #EEE;
}
tr.brief:hover	{
	background-color: #FFD280;
}
tr.brief	{
	cursor: pointer;
}
td .na	{
	opacity: 0.3;
	font-style: italic;
}
.arrow:after	{
	content: "↓";
}
.arrow.up:after	{
	content: "↑";
}
.stat .region .comment	{
	font-style: italic;
	font-size: 85%;
}
.nonstrict-match	{
	color: darkred;
}


/*** «Лесенка» уровней ***/
.level_1	{	padding-left: 0;	}
td.level_1	{	padding-left: 1em;	}

.level_2	{	padding-left: 1.5em;	}
td.level_2	{	padding-left: 2.5em;	}

.level_3	{	padding-left: 3em;	}
td.level_3	{	padding-left: 4em;	}

.level_4	{	padding-left: 4.5em;	}
td.level_4	{	padding-left: 5.5em;	}

.level_5	{	padding-left: 6em;	}
td.level_5	{	padding-left: 7em;	}


/*** Пагинация ***/
.paginator	{
	margin: 1em auto;
	text-align: center;
}
.paginator a,
.paginator span	{
	min-width: 1.5em;
	display: inline-block;
	padding: 0.1em;
}
.paginator a	{
	background-color: #EEE;
}
.paginator a:hover	{
	text-decoration: none;
	background-color: #FFD280;
}
.paginator .prev,
.paginator .next	{
	width: 3em;
	margin: 0 2em;
}
.paginator .current	{
	background-color: #FFA500;
}



/*** Кнопки клавиатуры ***/
.kbdKey	{
	border-color: #A9A9A9 #8C8C8C #C6C6C6 #C0C0C0;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px 1px 2px;
	box-shadow: -1px 1px 1px #484848, 1px 1px 1px #484848;
	font-family: "Courier New",Courier,monospace;
	font-size: 90%;
	padding: 1px 5px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	text-transform: capitalize;
	margin: 0 0.25em;
	position: relative;
	top: -2px;
}



/*** Responsive Tables Patch ***/
.responsive-table tr.detailed.h	{
	display: none;
}
.responsive-table tr.detailed	{
	margin-top: -0.5em;
	border-top: 0;
	padding: 0.25em 0.5em 0.25em 1.5em;
}
.responsive-table .detailed tr	{
	border: 0;
}
.responsive-table .detailed th,
.responsive-table .detailed td	{
	display: inline;
	padding: 0;
	background: transparent;
	text-align: left;
}
.responsive-table .detailed th	{
	color: #999;
	font-weight: normal;
}
@media print, (min-width: 42em)	{
	.responsive-table td.detailed	{
		padding: 0.5em;
		font-size: 90%;
		border-top: 1px solid #CCC;
	}
	.responsive-table .detailed th,
	.responsive-table .detailed td	{
		display: table-cell;
	}
	.responsive-table td.detailed table tr,
	.responsive-table td.detailed table th,
	.responsive-table td.detailed table td	{
		background-color: transparent;
	}
	.responsive-table td.detailed table th	{
		padding: 0 0.5em 0 0;
		text-align: right;
		vertical-align: top;
	}
	.responsive-table td.detailed table td	{
		padding: 0.125em 0.5em;
		text-align: left;
	}
	.responsive-table td.detailed table td.comments	{
		padding-top: 0.25em;
		text-align: justify;
		font-style: italic;
	}
}/**/



/*** Responsive Forms Patch ***/
/* Narrow PC screen */
@media print, (min-width: 42em)	{
	.responsive-form div.fieldset > label,
	.responsive-form div.field > label	{
		width: 30%;
	}
}
