{% extends "layout.html.twig" %}

{% block content %}
    <h2>View</h2>
    <ul>
      <li><a target="_blank" href="/places">Places</a></li>
    </ul>
    <h2>API</h2>
    <ul>
      <li><a target="_blank" href="/api/v1/">Root</a></li>
      <li><a target="_blank" href="/api/v1/places">Places</a></li>
      <li><a target="_blank" href="/api/v1/sources">Sources</a></li>
      <li><a target="_blank" href="/api/v1/persons">Persons</a> (<a target="_blank" href="/api/v1/persons/CPPM-9N33-2NXN">Sample person</a> from 1914.svrt.ru)</li>
      <li><a target="_blank" href="/api/v1/events">Events</a> (<a target="_blank" href="/api/v1/events/Y44Y-L64J-47EP">Sample event</a> from 1914.svrt.ru)</li>
    </ul>
    <h2>Import</h2>
    <ul>
      <li><a target="_blank" href="/import/places">Import places</a></li>
      <li><a target="_blank" href="/import/svrt">Import data from 1914.svrt.ru</a></li>
    </ul>
{% endblock %}
