{% extends "layout.html.twig" %}

{% block title %}Весь мир{% endblock %}

{% block content %}
	<div class="card my-3">
		<div class="card-block">
            <h2 class="card-title"><i class="fa fa-globe mr-2" aria-hidden="true"></i>Весь мир</h2>
			<div class="card-text mt-5">
        		<ul class="list-unstyled component-refs">
            	{% for place in gedcomx.getPlaces() %}
                    <li><a href="{{ path('place', {'id': place.getId()}) }}"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;{{ place.getNames()[0].getValue() }}</a>
                    <span class="place-short-info">
                    {% if place.getTemporalDescription() != null %}
                        ({{ place.getTemporalDescription().getNormalizedExtensions()[0].getValue() }})
                    {% endif %}
{#                    {% if place.getType() %}
                        {% if place.getType() == '//GeniBase/Settlement' %}
                        <i class="fa fa-home place-type-icon" aria-hidden="true"></i>
                        {% else %}
                        <i class="fa fa-sitemap place-type-icon" aria-hidden="true"></i>
                        {% endif %}
                    {% else %}
                        <i class="fa fa-question place-type-icon" aria-hidden="true"></i>
                    {% endif %}
#}                    </span></li>
        	    {% endfor %}
        	    </ul>
			</div>
		</div>
	</div>
    <div class="card my-3">
        <div class="card-block">
            <h2 class="card-title">Что это такое и как им пользоваться</h2>
            <div class="card-text mt-3">
                <p style="color:red">Работа над справочником ещё продолжается. Нам нужны волонтёры для выверки информации: <a href="http://forum.svrt.ru/index.php?showtopic=9013" target="_blank">Тема на форуме</a>.</p>
                <p>Данный ресурс представляет из себя справочник по административно-территориальному делению (АТД) Российской империи по состоянию на 1913 год.</p>
                <p>За основу справочника взяты результаты работы сотрудников РГБ по составлению аналогичного справочного материала. В дальнейшем информация была перепроверена и дополнена: мы постарались добавить все волости, все волостные центры и все крупные населённые пункты.</p>
                <p>Для каждого описанного в справочнике места мы постарались выяснить точные даты его существования, альтернативные названия и географические координаты. Основным указано название, являвшееся официальным на 1913 год.</p>
                <p>По возможности, каждая карточка снабжена описанием из энциклопедии тех времён, находящихся в общественном достоянии. Источники:
                    <ol>
                        <li>Новый энциклопедический словарь, 1911–1916</li>
                        <li>Военная энциклопедия, 1911–1915</li>
                        <li>Большая энциклопедия Южакова, 1900–1905</li>
                        <li>Малый энциклопедический словарь Брокгауза и Ефрона, 1899–1902</li>
                        <li>Энциклопедический словарь Брокгауза и Ефрона, 1890–1907</li>
                        <li>Русский энциклопедический словарь И. Н. Березина, 1873–1879</li>
                        <li>Энциклопедический лексикон, 1834–1841</li>
                    </ol>
                    Авторы проекта выражают свою благодарность проекту Викитека за возможность доступа к текстам этих словарей.</p>
            </div>
        </div>
    </div>
{% endblock %}
